.Frequency {
  display: flex;
  flex-direction: column;
  
}

.Frequency > label {
  margin-bottom: 15px;
  
}

.Frequency select {
  margin-left: 15px;
  padding: 5px;
  border: 1px solid #ccc;
}

.Frequency span {
  width: 50px;
}

.Frequency input {
  margin-right: 5px;
}
  